<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" href="./public/assets/styles.css" />
<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
  </head>
  <body>
      <h1>Ingresa tus datos para dejar el lol</h1>
    <div id="content" >
    </div>
    <form hx-post="/api/user" hx-target="#content">
      <input type="text" name="username" value="" required>
      <input type="date" name="birthday" value="" required>
      <input type="password" name="password" value="" required>
      <button type="submit">submit wep</button>
    </form>
    <a href="/api/last-user">ver el ultimo usuario que dejo el lol!!</a>
  </body>
</html>
